body {
    font-size: 11.6px;
    color: #dfdfdf;
    min-width: 950px;
    background: url(https://i.bj-share.info/ec01898d04940834f4312bb56df3f8c6.png) repeat scroll 0 #000 !important;
    /*mudar a cor do fundo*/
}

a {
    text-decoration: none;
    border: none;
    color: #ccc;
}
a:hover {
    text-decoration: underline;
    color: #aaa;
}
a.similar_artist {
    background-color: #444;
    display: block;
    padding: 1px 4px;
    color: #fff;
    border: 1px solid #fff;
}
a.similar_artist:hover {
    background-color: #555;
}
.similar_artist_header {
    color: #fff;
    background-color: #666;
    border: 1px solid #fff;
    padding: 3px 5px;
}
h1, h2, h3, h4 {
    margin: 5px 0;
    font-weight: 700;
}
h2 {
    text-align: center;
    font-size: 12pt;
    color: #fff;
}
h4 {
    font-size: 8pt;
}
p {
    margin: 10px 5px;
}
li {
    margin: 5px 11px;
}
input {
    padding: 2px 3px;
}
textarea {
    padding: 2px 3px;
}
img {
    border-radius: 10px;
}
.r01 {
    color: #ff1300;
}
.r02 {
    color: #ff1300;
}
.r03 {
    color: #ff2600;
}
.r04 {
    color: #ff4c00;
}
.r05 {
    color: #ff5e00;
}
.r06 {
    color: #ff5e00;
}
.r07 {
    color: #ff7100;
}
.r08 {
    color: #ff9700;
}
.r09 {
    color: #fa0;
}
.r10 {
    color: #74c42e;
}
.r20 {
    color: #418b00;
}
.r50 {
    color: #418b00;
}
.r99 {
    color: #418b00;
}
span.size1 {
    font-size: .75em;
}
span.size2 {
    font-size: 1em;
}
span.size3 {
    font-size: 1.25em;
}
span.size4 {
    font-size: 1.5em;
}
span.size5 {
    font-size: 1.75em;
}
span.size6 {
    font-size: 2em;
}
span.size7 {
    font-size: 2.25em;
}
span.size8 {
    font-size: 2.5em;
}
span.size9 {
    font-size: 2.75em;
}
span.size10 {
    font-size: 3em;
}
ul.thin {
    margin: 0 0 0 25px;
    padding: 0;
}
ul.thin li {
    margin: 0 0;
    padding: 0;
}
#header {
    background: url(https://i.imgur.com/ly987w1.gif) no-repeat top center;
    /background: url(https://i.bj-share.info/aff17b3ca6c3d1c06a668562d96ea604.gif) no-repeat top center;
    background-color: #000;
    width: 100%;
    padding: 0;
}
#content {
    margin: auto;
    width: 100%;
    overflow: hidden;
    /background-color: #1D1C1D;
    position: relative;
    top: 60px;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
}
#footer {
    margin-top: 140px;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    color: #fff;
    background: linear-gradient(115deg, #0E0E12 62.12%, #151531 98.33%);
    border-top: 2px solid #242424;
    clear: both;
    box-shadow: 0 0 50px 1px #1D184F;
}
#logo {
    width: 100%;
    height: 267px;
    margin: 0px auto 0 auto;
}
#logo a {
    border: none;
    width: 320px;
    height: 150px;
    display: block;
}
#logo a:hover {
    border: none;
}
#menu {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 268px;
    /width: 90%;
    text-align: center;
    /background-color: #454545;
    font-size: 10pt;
    z-index: 1001;
    min-width: 850px;
    border-radius: 10px;
    border: 1px solid;
    border-top-color: #5346E0;
    border-left-color: #000;
    border-bottom-color: #000;
    border-right-color: #000;
    background: linear-gradient(90deg, #0C0C0C 46.92%, #23262F 111.05%);
    /*mudar a cor da barra de home-e direção*/
    

}
#chat #nav_irc, #collage #nav_collages, #forums #nav_forums, #index #nav_index, #moderar #nav_moderar, #requests #nav_requests, #rules #nav_rules, #staff #nav_staff, #top10 #nav_top10, #torrents #nav_torrents, #user #nav_userinfor, #wiki #nav_wiki {

}
#userinfo {
    background: url(https://i.bj-share.info/ec01898d04940834f4312bb56df3f8c6.png) repeat scroll 0 #000 !important; /*mudar a cor da barra de upload*/
    color: #777;
    width: 82%;
    text-align: center;
    font-size: 8pt;
    padding: 3px 0;
    z-index: 10;
    min-width: 850px;
    position: relative;
    top: 35px;
}
#userinfo ul {
    display: inline;
    margin: 0 .8%;
    padding: 4px;
}
#userinfo ul li {
    position: relative;
    display: inline;
    margin: 0 .1em;
    line-height: 20px;
    vertical-align: middle;
    padding: 10px;
    
}

#userinfo_minor #nav_donations a {
    /*barra progresso*/
  --progress: 95;
  position: relative;
  left: 420px;
  top: -12px;
  height: 2px;
  margin: auto;
  padding: 1px;
  /text-align: right;
  border-radius: 10px;
  background-color: #1d1d1d;
  
  display: grid;
  width: 200px  
}

#userinfo_minor #nav_donations a::before {
    /*barra progresso*/
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
  height: 5px;
  border-radius: 10px;
}


#userinfo a {
    color: #fff;
    
}
#userinfo a:hover {
    text-decoration: underline;
}
#userinfo b a {
    font-weight: 400;
    font-size: .9em;
}

#stats_bjpontos .stat, #stats_leeching .stat, #stats_ratio .stat, #stats_seeding .stat {
    font-weight: 700;
}
#stats_seeding .stat {
    color: #0a0;
}
#stats_leeching .stat {
    color: red;
}
#stats_bjpontos .stat {
    color: #999;
}
#userinfo_username {
    position: absolute;
    top: 10px;
    width: 200px;
    left: 4%;
    background: #1c1c1c;
    color: #777;
    text-align: center;
    font-size: 8pt;
    padding: 3px 0;
    z-index: 10;
    border-radius: 4px;
}
#userinfo_major {
    position: absolute;
    top: 10px;
    width: 200px;
    right: 4%;
    background: #1c1c1c;
    color: #777;
    text-align: center;
    font-size: 8pt;
    padding: 3px 0;
    z-index: 10;
    border-radius: 4px;
}
#searchbars {
    position: absolute;
    top: 240px;
    width: 100%;
    text-align: center;
    padding: 4px 0;
    min-width: 850px;
}
#searchbars input {
    position: relative;
    padding: 5px 20px 5px 20px;
    font-size: .9em;
    text-align: ;
    background: linear-gradient(5deg, #0C0C0C 46.92%, #23262F 111.05%);
    /background-color: #0c0c22;
    color: #999;
    border: 1px solid;
    /border-top-color: #5346E0;
    /border-left-color: #5346E0;
    /border-bottom-color: #5346E0;
    /border-right-color: #5346E0;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #5346E0, #0c0c22); /*mudar a cor das pesquisas*/
    
}

;
}
#searchbars ul {
    margin: 0 auto;
    display: block;
}
#searchbars ul li {
    display: inline;
    margin: 0 1px;
    list-style: none;
    position: relative;
}
#searchbars ul li ul {
    display: block;
    position: absolute;
    top: 1em;
    left: 0;
    z-index: 1000;
    width: 12em;
    margin-top: 12px;
}
#searchbars ul li ul li {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background: #303030;
}
#searchbars ul li ul li.highlight {
    background: #454545;
}
#searchbars ul li form {
    display: inline;
}
#alerts {
    position: relative;
    margin-top: 32px;
    margin-bottom: -60px;
    padding: 10px 0;
    width: 100%;
    background: url(https://i.bj-share.info/ec01898d04940834f4312bb56df3f8c6.png) repeat scroll 0 #000; /*mudar a cor da barra informação*/
    min-width: 850px;
}
#alerts a {
    color: #ccc;
}
.alertbar.blend {
    background-color: #383738;
    border: 1px solid #383738;
    width: 440px;
}
#cat-selector ul {
    width: 100%}
#cat-selector ul li {
    display: inline;
    width: 12em;
    height: 1em;
    float: left;
}
.alertbar {
    background-color: #383738;
    text-align: center;
    color: #ccc;
    font-weight: 700;
    font-size: .99em;
    width: 600px;
    margin: 2px auto 2px auto;
    /padding: 10px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #1D184F;
    background: url(https://img.icons8.com/?size=40&id=114954&format=png) no-repeat scroll right; 0 #151515 !important; 
    padding: 10px;
    /background: linear-gradient(0deg, #151515 15.25%, #222 106.05%);
    box-shadow: 0 1px 10px #1D184F;
}
.alertbar a {
    color: #555;
    text-decoration: underline;
}
.alertbar a:hover {
    color: #777;
    text-decoration: none;
}
.hidden {
    position: absolute;
    left: -10000px;
}
input.hidden {
    position: absolute;
    display: none;
}
.thin {
    max-width: 1152px;
    margin: 0 auto;
}
.widethin {
    max-width: 1152px !important;
    margin: 0 auto;
}
#userinfo_major .brackets:before {
    font-weight: 700;
}
#userinfo_major .brackets:after {
    font-weight: 700;
}
div.linkbox {
    text-align: center;
    padding: 20px;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.min_padding {
    padding: 0;
    margin: 0 0;
}
p.min_padding {
    margin: 1px 0;
}
.pad {
    padding: 1em;
        
}
.sidebar .pad {
    padding: 0px 0px 10px 0px;
}
.vertical_space {
    margin-bottom: 10px;
}
.box {
    font-size: 8.69pt;
    border-radius: 10px 10px 20px 20px;
    background: linear-gradient(115deg, #0E0E12 62.12%, #151531 98.33%);
    border: 1px solid #000000;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px #000;
}
.box2 {
    font-size: 8.69pt;
    background-color: #232323;
    border: 1px solid #303030;
    margin-bottom: 10px;
}
.pad h3, .pad h4, .padbox h3, .padbox h4 {
    margin-top: 0;
    padding-top: 0;
}
.sidebar {
    float: right;
    width: 255px;
}
.sidebar img {
    max-width: 90%;
    max-height: 100%;
    border-radius: 0px 0px 20px 20px;
  
}
.head {
    padding: 8px;
    color: #;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #1D184F;
    background: linear-gradient(94deg, #0C0C0C 46.92%, #23262F 111.05%);
    box-shadow: 0 1px 4px #000;
    
}
.body {
    padding: -1px 10px 10px 10px;
}
.main_column {
    overflow: hidden;
    padding-right:10px;
}
.main_column table {
    margin-bottom: 10px;
}
.number_column {
  text-align: -moz-center;
}
.tags {
    padding: 0 0 0 20px;
    font-style: italic;
}
.tags a {
    color: #7e7e7e;
}
.tags a:hover {
    color: #dedede;
    text-decoration: none;
}
.noborder {
    border: none;
}
ul.nobullet {
    list-style-type: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cea3a3;
    box-shadow: 0 1px 4px #000;
}
tr {
    border: 1px solid #000;
}
tr.rowa {
    background-color: #222;
}
td, th {
    padding: 6px;
    text-align: left;
}
#torrent_details tr td{
  background-color: #232323;
}
.colhead {
    background-color: #171717;
    font-weight: 700;
    color: #fff;
    border-bottom: 2px solid #000;
}
.colhead td, .colhead th, td.colhead {
    padding-left: 10px;
    padding-right: 10px;
}
.width50 {
  width: 100%;
}
.width5 {
  width: 2%;
}
.colhead .sign {
    padding: 0 8px 0 8px;
    font-size: 12pt;
    font-weight: 700;
    vertical-align: middle;
}
.colhead_dark {
    background-color: #383738;
    color: #ccc;
    vertical-align: middle;
    box-shadow: 0 1px 4px #000;
    border-bottom: 1px solid #000;
}
.colhead_dark a {
    color: #fff;
}
td.label {
    font-weight: 700;
    text-align: right;
    width: 180px;
}
table.slice {
    margin-top: -1px;
}
.error_message {
    border: 1px solid #666;
    padding: 3px 0 3px 0;
    background-color: #af2525;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.save_message {
    border: 1px solid #666;
    padding: 3px 0 3px 0;
    background-color: #f4e649;
    text-align: center;
    color: #492802;
    font-weight: 700;
}
.elem_error {
    border: 3px solid #b00d0d;
}
.hidden {
    display: none;
}
ul.stats li {
    padding: 0 0 1px 0;
}
ul.poll li {
    padding: 0 0 0 10px;
    margin: 0;
    clear: left;
}
ul.poll li.graph {
    margin-bottom: 3px;
    padding-left: 20px;
}
.show_torrents {
    width: 28px;
    height: 28px;
    background: url(https://bj-share.info/static/styles/bj-clean/images/show.png) no-repeat center center;
}
.hide_torrents {
    width: 28px;
    height: 28px;
    background: url(https://bj-share.info/static/styles/bj-clean/images/hide.png) no-repeat center center;
}
.show_torrents_link {
    border: none;
    width: 28px;
    height: 28px;
    display: block;
}
.filter_torrents {
    width: 100%;
    margin: auto;
}
.filter_torrents .submit {
    text-align: right;
    padding-top: 5px;
}
#content form.search_form+.torrent_table {
    margin-top: 20px;
}
.cat_list tr td {
    border: none;
}
.torrent_table tr {
    vertical-align: top;
}
.colhead .sign, .colhead_dark .sign {
    padding: 0 8px 0 8px;
    vertical-align: middle;
    text-align: center;
    font-size: 12pt;
    font-weight: 700;
}
.torrent_table tr.group, tr.group_torrent, tr.torrent {
    background: linear-gradient(111deg, #171717 65.9%, #23262F 101.82%);
    
}
.torrent_table div.tags {
    font-weight: 400;
}
.torrent_table tr .center {
    vertical-align: middle;
    text-align: center;
}
.group_torrent span {
    float: right;
}
.torrent span {
    font-weight: 400;
    float: right;
}
.nobr {
    white-space: nowrap;
}
.last_read {
    width: 15px;
    height: 15px;
    background: url(images/go_last_read.png) no-repeat center center;
    margin-left: 5px;
}
.last_read a {
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}
.last_read a:hover {
    border: none;
}
.read_locked_sticky, .unread_locked_sticky {
    background: url(https://bj-share.info/static/styles/bj-black/images/locked_sticky.png) #232323 no-repeat center center;
}
.read_sticky, .unread_sticky {
    background: url(https://bj-share.info/static/styles/bj-black/images/sticky.png) #232323 no-repeat center center;
}
.unread_locked {
    background: url(https://bj-share.info/static/styles/bj-black/images/locked_unread.png)#232323 no-repeat center center;
}
.read_locked {
    background: url(https://bj-share.info/static/styles/bj-black/images/locked_read.png)#232323 no-repeat center center;
}
.unread {
    background: url(https://bj-share.info/static/styles/bj-black/images/unread.png) #232323 no-repeat center center;
}
.read {
    background: url(https://bj-share.info/static/styles/bj-black/images/read.png) #232323 no-repeat center center;
}
strong.quoteheader {
    color: #999;
}
table.forum_post {
    margin: 10px 0;
}
table.forum_post td {

}
table.forum_unread {

}
td.avatar {
    width: 150px;
    padding: 4px;
}
table.forum_post td.body {
    max-width: 675px;
}
tbody {
    max-width: 690px;
    background: #0A0A0C;
}
blockquote {
    margin: 10px;
    padding: 10px;
    border: 1px dashed #666;
}
tr.unreadpm {
    background-color: #692222;
}
.permission_head {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.permissions {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}
.permission_container {
    float: left;
    width: 300px;
    padding: 5px;
}
.permission_container input {
    margin: 0 3px 5px 0;
    vertical-align: top;
}
.submit_container {
    clear: both;
    text-align: right;
}
ul .invitetree {
    margin: 0 0 0 25px;
}
.invitetree li {
    list-style: none;
    margin: 10px 2px;
}
.user_options .options_list li {
    margin: 0;
}
.left_poll {
    width: 2px;
    height: 9px;
    background: url(images/bar_left.gif) no-repeat center center;
    float: left;
    margin: 0;
    padding: 0;
}
.center_poll {
    height: 9px;
    background: url(images/bar.gif) repeat;
    float: left;
    margin: 0;
    padding: 0;
}
.right_poll {
    width: 2px;
    height: 9px;
    background: url(images/bar_right.gif) no-repeat center center;
    float: left;
    margin: 0;
    padding: 0;
}
.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
    -moz-opacity: .8;
    opacity: .8;
}
.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 0;
    z-index: 1002;
    overflow: auto;
}
table#torrent_table.torrent_table {
    margin: auto;
}
form tr {
    background-color: #222;
    
}
.center {
    text-align: center;
}
.spellcheck {
    margin: 25px 0;
    font-size: 1.25em;
    font-weight: 700;
}
tr.torrent .bookmark>a:before {
    color: #999;
}
tr.torrent .bookmark>a:after {
    color: #999;
}
.linkbox .brackets:after, .linkbox .brackets:before, .top10_quantity_links .brackets:after, .top10_quantity_links .brackets:before {
    color: #999;
}
.field_div {
    margin-bottom: 10px;
    margin-top: 1px;
}
.edit_changelog textarea {
    width: 600px;
}
.autocomplete-suggestions {
    background: #222;
}
.post_id {
    font-weight: 400;
}
.small_upvote, .small_upvoted, .vote_album_up, .vote_artist_up, .vote_tag_up {
    color: green;
}
.small_downvote, .small_downvoted, .vote_album_down, .vote_artist_down, .vote_tag_down {
    color: red;
}
div.sidebar #event_div {
    margin-left: -232px;
}
ol {
    margin-left: 1em;
}
#forum_search_cat_list, #forum_search_cat_list tr {
    border: none;
}
.chat_mark_bg {
    background-color: rgba(40, 20, 10, .53);
    border: none;
    padding: 5px;
    text-align: left;
}
table.shoutTable {
    width: 100%;
    border-collapse: collapse;
    border: none;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
}
td.shoutTable {
    border: none;
    padding: 8px;
    text-align: left;
}
table.shoutTable a {
    color: #0a84af;
}
tr.row1 {
    background: url(https://i.bj-share.info/ec01898d04940834f4312bb56df3f8c6.png) repeat scroll 0 #23 !important;
     
}
tr.row2 {
    background: url(https://i.bj-share.info/ec01898d04940834f4312bb56df3f8c6.png) repeat scroll 0 #23 !important;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
    background: #2F2A4D;
    text-decoration: none;
}
button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
    background: #000;
    color: #fff;
    cursor: default;
}
button, input[type=button], input[type=submit] {
    min-width: 30px;
    margin-bottom: 0;
    border: 1px solid;
    border-top-color: #2F2A4D;
    border-left-color: #2F2A4D;
    border-bottom-color: #2F2A4D;
    border-right-color: #2F2A4D;
    cursor: pointer;
     /*background: url(https://media2.giphy.com/media/pOhqA8rf4IwuDoM0QI/200w.webp?cid=ecf05e47uxncv4oo84zxx2emyo53bfjo02tknjyjzobbf9fh&ep=v1_gifs_search&rid=200w.webp&ct=g);*/
    background: url(https://media4.giphy.com/media/ftYbYxLSsBgkcqN8OE/giphy.webp?cid=ecf05e47ob3oqn6vmxklsfvra3p8xinkpza6ukwadn11qs28&ep=v1_gifs_search&rid=giphy.webp&ct=g);
    background-color: rgba(0, 0, 0, .2);
    background-repeat: space;
    text-align: center;
    padding: 6px 18px 6px 18px;
    letter-spacing: 0.075em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 80px;
}
#menudrop ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#menudrop ul a {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
}
#menudrop ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 145px;
}
#menudrop ul li.current-menu-item {
    background: #ddd;
}
#menudrop ul li:hover {
    background: #1D184F;
}
#menudrop ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(94deg, #0C0C0C 46.92%, #23262F 111.05%);
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #5346E0;
    padding: 0;
    text-align: left;
}
#menudrop ul ul li {
    float: none;
    width: 145px;
}
#menudrop ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}
#menudrop ul ul ul {
    top: 0;
    left: 100%}
#menudrop ul li:hover>ul {
    display: block;
}
#menudrop ul ul ul ul {
    max-height: 300px; /* Define o tamanho máximo da terceira aba */
    overflow-y: auto; /* Adiciona rolagem apenas na terceira aba */
    position: absolute;
    left: 100%; /* Faz o submenu abrir ao lado do segundo nível */
    top: -160px; /* Ajuste este valor para subir o submenu */
    background: #454545; /* Ajuste conforme o design */
    z-index: 1;
    background: linear-gradient(94deg, #0C0C0C 46.92%, #23262F 111.05%);
    backdrop-filter: blur(2px);
}
#irtopo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #bc04ff;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#irtopo span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff;
}
#irtopo:hover {
    background-color: #16384f;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)"}
.homesldframe {
    height: 350px;
    width: 250px;
    left: -12px;
    top: -4px;
    position: relative;
}
a.BJinfoBox {
    position: relative;
    display: inline;
}
a.BJinfoBox span {
    position: absolute;
    min-width: 185px;
    color: #eee;
    background: url(https://i.bj-share.info/ec01898d04940834f4312bb56df3f8c6.png) repeat scroll 0 #1d1d1d !important;
    line-height: 15px;
    visibility: hidden;
    border-radius: 6px;
    /border: 2px solid #494649;
    text-decoration: none;
    padding: 7px 10px;
    opacity: 0;
    bottom: 0;
    -webkit-transition: opacity, bottom .4s;
    -moz-transition: opacity, bottom .4s;
    -ms-transition: opacity, bottom .4s;
    -o-transition: opacity, bottom .4s;
    transition: opacity, bottom .4s;
    box-shadow: 0 1px 4px #000;
}
a:hover.BJinfoBox span {
    visibility: visible;
    bottom: 20px;
    left: 40%;
    margin-left: -76px;
    z-index: 3;
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]:after, [data-tooltip]:before {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -50px;
    padding: 7px;
    min-width: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
}
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
[data-tooltip]:hover:after, [data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
a[data-tooltip]:hover {
    text-decoration: none;
}
ul.bjqs {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
}
li.bjqs-slide {
    position: absolute;
    display: none;
}
ul.bjqs-controls {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}
ul.bjqs-controls.v-centered li a {
    position: absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a {
    margin-top: 205px;
    right: -2px;
    min-width: 90px;
    margin-bottom: 0;
    border: 1px solid;
    border-top-color: #2F2A4D;
    border-left-color: #494649;
    border-bottom-color: #2F2A4D;
    border-right-color: #2F2A4D;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    padding: 6px 8px 6px 8px;
    letter-spacing: .075em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
ul.bjqs-controls.v-centered li.bjqs-prev a {
    margin-top: 205px;
    left: 20px;
    min-width: 90px;
    margin-bottom: 0;
    border: 1px solid;
    border-top-color: #2F2A4D;
    border-left-color: #2F2A4D;
    border-bottom-color: #2F2A4D;
    border-right-color: #494649;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    padding: 6px 8px 6px 8px;
    letter-spacing: .075em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
ol.bjqs-markers {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%}
ol.bjqs-markers.h-centered {
    text-align: center;
}
ol.bjqs-markers li {
    display: inline;
}
ol.bjqs-markers li a {
    display: inline-block;
}
p.bjqs-caption {
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
    color: #fff;
    display: block;
    width: 190px;
    margin: 25px;
    padding: 2%;
    position: absolute;
    bottom: -10px;
    font-size: 14px;
    color: #000;
}
#container {
    float: right;
    position: relative;
    width: 263px;
    padding-top: 10px;
    padding-bottom: 0;
    float: bottom;
}
#banner-fade, #banner-slide {
    margin-bottom: 40px;
    margin-top: -12px;
}
ul.bjqs-controls.v-centered li a {
    font-family: tahoma, helvetica, sans-serif;
    display: block;
    padding: 10px;
    background: #365a72;
    font-weight: lighter;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 12px;
}
ul.bjqs-controls.v-centered li a:hover {
    background: #1D184F;
    text-decoration: none;
}
ol.bjqs-markers li a {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    margin: 5px;
    text-decoration: none;
}
ol.bjqs-markers li a:hover, ol.bjqs-markers li.active-marker a {
    background: #999;
}
p.bjqs-caption {
    background: rgba(254, 254, 254, .74);
}
.two_columns {
  width: 47%
}
.internalbox {
background: #2f4879 none repeat scroll 0 0;
font-size: 11px;
font-weight: bold;
padding: 0px 5px;
color:#fff;
float: none !important;
cursor: help;
}
#noteAlertMsg {
    position: absolute;
    z-index: 6001;
    top: 0px;
    /left: 700px;
    /right: 600px;
    /border-radius: 10px;
    /border: 1px solid;
    /border-top-color: #000;
    /border-left-color: #000;
    /border-bottom-color: #5346E0;
    /border-right-color: #000;
    /background: linear-gradient(90deg, #0C0C0C 46.92%, #23262F 111.05%);
    /background: #5346E0;
    text-align: center;
    line-height: 2.5;
    font-size: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0px #282828;
    -moz-box-shadow:    0 0 0px #282828;
    box-shadow:         0 0 0px #282828;
    /*mudar a cor da barra de doação*/
}
.browse_rating {
    background: black;
}
